/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .jumbotron {
        display: none;
    }
    .castle-sm {
        display: inline;
    }
    img {
        max-width: 35%;
    }
    h1, h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 400; 
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1, h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600; 
    }
    .jumbotron {
        display: none;
    }
    .castle-sm {
        display: inline;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    h1, h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600; 
    }
    .jumbotron {
        display: inline;
    }
    .castle-sm {
        display: none;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1, h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 800; 
    }
    .jumbotron {
        display: inline;
    }
    .castle-sm {
        display: none;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1, h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: 800; 
    }
    .jumbotron {
        display: inline;
    }
    .castle-sm {
        display: none;
    }
} 

body, .jumbotron {
    background-color: lightblue;
}