 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 400; 
    }
    .jumbotron {
        display: none;
    }
    .login, .rememberMe1 {
        margin-right: 4px;
        margin-left: 25px;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600; 
    }
    .jumbotron {
        display: none;
    }
    .login, .rememberMe1 {
        margin-right: 4px;
        margin-left: 25px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600; 
    }
    .jumbotron {
        display: inline;
    }
    .login {
        margin-right: 5px;
        margin-left: 5px;
        display: inline-block;
    }
    .rememberMe1 {
        margin-left: 242px;
        display: inline-block;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 800; 
    }
    .login {
        text-align: center;
    }
    .rememberMe1 {
        text-align: center;
        display: inline-block;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 800; 
    }
    .login {
        text-align: center;
        margin-left: 155px;
    }
    .rememberMe1 {
        text-align: center;
        display: inline-block;
    }
} 

body, .jumbotron {
    background-color: lightblue;
}

.jumbotron {
    padding-top: 35px;
    margin-bottom: -25px;
}